@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
html,
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.chart-card {
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(10px);
}

.chart-card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 24px;
  border: 1px solid transparent;
  background: linear-gradient(
      105.37deg,
      rgba(168, 88, 238, 0.6) 5.93%,
      rgba(251, 132, 23, 0.6) 49.81%,
      rgba(1, 176, 197, 0.6) 96.4%
    )
    border-box;
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

canvas {
  display: block;
  max-height: 300px;
  margin: 0 auto;
}

.scrolled-bg {
  background-image: linear-gradient(to top, #6ab935, rgba(0, 0, 0, 0.676)),
    linear-gradient(to top right, #6ee81c, rgba(23, 23, 23, 0.365));
  /* linear-gradient(to top right, #6ee81c, rgba(49, 49, 49, 0.954)), */
}

.otp-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.otp-title {
  font-size: 1.5rem;
  color: #2d2d2d;
  margin-bottom: 20px;
  text-align: center;
}

.otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp-input {
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #efeff0;
  border-radius: 8px;
  margin: 0 8px;
}

.otp-input:focus {
  border-color: #4caf50;
  outline: none;
}

.otp-separator {
  font-size: 1.5rem;
  color: #2d2d2d;
}

.otp-submit-button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.otp-submit-button:hover {
  background-color: #333;
}

.otp-resend-button {
  font-size: 1rem;
  color: #4caf50;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.otp-resend-button:hover {
  text-decoration: underline;
}

/* Disables a specific date (custom approach) */
input[type='date']::-webkit-calendar-picker-indicator:hover {
  cursor: not-allowed;
}

/* PhoneInput.css */
.PhoneInput {
  display: flex;
  align-items: center;

  /* Adjust background color if needed */
  padding: 0.5rem 1rem;
  border: 1px solid #e0e0e0;
  /* Light border */
  border-radius: 8px;
  /* Rounded corners */
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.PhoneInput input {
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.PhoneInput input::placeholder {
  color: #b0b0b0;
}

.PhoneInputCountry {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.PhoneInputCountryFlag {
  margin-right: 8px;
  border-radius: 2px;
}

.PhoneInputCountrySelect:focus {
  outline: none;
}

/* Ensures that only the country code and flag are visible */
.PhoneInputCountrySelect span {
  display: flex;
  align-items: center;
}

.PhoneInputCountrySelect > .PhoneInputCountrySelectArrow {
  margin-left: 4px;
}

.PhoneInputCountrySelect .PhoneInputCountrySelectCode {
  margin-left: 4px;
}

.PhoneInputCountrySelect span:not(.PhoneInputCountrySelectCode) {
  display: none;
}

.subscription-bg {
  background-image: url('./images/subscription.svg');
}

.analytics-swiper .swiper-pagination,
.analytics-swiper .swiper-scrollbar {
  top: 0 !important;
  left: 2px !important;
  height: fit-content;
  text-align: left;
}

.analytics-swiper .swiper-pagination-bullet {
  background: #ffffff35 !important;
  width: 45px;
  height: 4px;
  border-radius: 2px;
}

.analytics-swiper .swiper-pagination-bullet-active {
  background: white !important;
}

.analytics-swiper .swiper-scrollbar-drag {
  background: white; /* Drag bar color */
  border-radius: 10px;
  transition: width 0.3s;
}

.react-calendar__navigation {
  display: flex;
  margin-bottom: 0 !important;
  padding: 8px !important;
}
.react-calendar__navigation button {
  min-width: 24px !important;
  height: 24px;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #070d04 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-calendar__navigation button:disabled {
  border: 1px solid#efeff0 !important;
  background: #f7f7f9 !important;
  border-radius: 4px !important;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 10px !important;
  color: #2b660e !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.react-calendar__month-view__weekdays__weekday abbr:where([title]) {
  text-decoration: none !important;
}
.react-calendar__tile {
  font-size: 12px !important;
  color: #070d04 !important;
  padding: 10px !important;
  /* margin: 5px !important; */
}
.react-calendar__tile--active {
  /* color: #2b660e !important; */
  /* font-weight: 600 !important; */
  border: none !important;
  background: #e8fcd8 !important;
  border-radius: 4px !important;
}

.react-calendar__tile--active.react-calendar__tile--rangeStart,
.react-calendar__tile--active.react-calendar__tile--rangeEnd {
  color: white !important;
  font-weight: 600 !important;
  border: none !important;
  background: #66c227 !important;
  border-radius: 4px !important;
}
.react-calendar__tile--hasActive {
  border: 1px solid#efeff0 !important;
  background: #f7f7f9 !important;
  border-radius: 4px !important;
}
.react-calendar__tile:disabled {
  opacity: 0.4;
  color: #070d04 !important;
  background: transparent !important;
}

/* Radio button styles */
.group[data-selected='true'] .group-data-\[selected\=true\]\:border-primary {
  border-color: #33810a !important;
}

.group[data-selected='true'] .group-data-\[selected\=true\]\:opacity-100 {
  background-color: #33810a !important;
}
