@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

progress::-webkit-progress-bar,
progress::-webkit-progress-value {
  border-radius: 4px;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress[data-category='income']::-webkit-progress-value {
  background-color: #01b0c5;
}

progress[data-category='expenses']::-webkit-progress-value {
  background-color: #fb8417;
}
